# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# =========================
# Operating System Files
# OSX
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.Rbuildignore
.Rhistory
ACSN_Enrichment.Rproj
*.Rproj*
.RData
inst/doc
jss/article.pdf
jss/article.aux
jss/article.syntex.gz
jss/article.bbl
jss/article.blg
jss/article.log
jss/article.out
jss/Makefile
jss/bookreview.tex
jss/booksnippet.tex
jss/jss.pdf
jss/jsslogo.jpg
jss/README.txt
jss/softwarereview.tex
vignettes/ACSN-stats.Rmd
.Rproj.user
